@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2c313f;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 48px;
  color: #e9ebf1;
  text-align: center;
  margin-bottom: 60px;
}

h2 {
  font-size: 32px;
  color: #e9ebf1;
}

h3 {
  font-size: 24px;
  color: #e9ebf1;
  margin: 0 10px 20px 10px;
  text-align: center;
  word-wrap: break-word;
}

p,
a {
  font-size: 20px;
  color: #e9ebf1;
}

header {
  height: 70px;
  background-color: #0f2d8e;
  display: flex;
  align-items: center;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
}

nav {
  display: flex;
}

nav a {
  margin-left: 20px;
  color: #e9ebf1;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #191e28;
  text-decoration: none;
  font-size: 16px;
  border: 3px solid #191e28;
}

nav a:hover {
  background-color: transparent;
}

footer {
  background-color: #0f2d8e;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

footer p,
footer a {
  font-size: 16px;
}

footer p {
  padding: 0 20px;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.logo {
  color: #e9ebf1;
  font-size: 30px;
}

main {
  margin: 60px 20px;
}

.about-contact {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.about,
.contact {
  width: 675px;
  height: 500px;
  background-color: #191e28;
  border-radius: 30px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about p,
.contact p {
  max-width: 500px;
  text-align: center;
  margin: 20px 10px 0 10px;
}

.contact-info {
  width: 500px;
  height: 300px;
  background-color: #0f2d8e;
  border-radius: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info a {
  display: block;
  color: #e9ebf1;
  margin: 20px;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
  text-underline-position: under;
}

.my-projects {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
}

.projects-heading {
  text-align: center;
  margin-bottom: 60px;
}

.project-card {
  width: 450px;
  background-color: #191e28;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
}

.project-card img {
  width: 400px;
  height: 300px;
  object-fit: contain;
  filter: brightness(85%);
}

.project-card p {
  text-align: center;
  padding: 30px;
}

.project-card a {
  text-decoration: none;
  display: block;
  color: #e9ebf1;
  font-size: 16px;
  margin: 20px;
  background-color: #0037ff;
  border-radius: 10px;
  border: 3px solid #0037ff;
  padding: 10px 25px;
}

.project-card a:hover {
  background-color: transparent;
}

/* Responsive styles */

@media (max-width: 1399px) {
  .about-contact {
    justify-content: center;
  }

  .about,
  .contact {
    width: 575px;
  }

  .about {
    margin-right: 10px;
  }

  .about p {
    max-width: 400px;
  }

  .contact {
    margin-left: 10px;
  }

  .contact-info {
    width: 400px;
  }

  .my-projects {
    justify-content: center;
    gap: 20px;
  }

  .project-card {
    width: 380px;
  }

  .project-card img {
    width: 300px;
  }
}

@media (max-width: 1050px) {
  .project-card img {
    width: 250px;
  }
}

@media (max-width: 950px) {
  .about-contact {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .my-projects {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    padding: 0 0 40px 0;
  }

  .project-card img {
    width: 300px;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  header {
    padding: 20px;
    height: auto;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 10px 0 10px 0;
    text-align: center;
  }

  .about,
  .contact {
    width: 375px;
    margin: 20px 0;
  }

  .about p {
    max-width: 300px;
  }

  .contact a {
    margin: 20px 0;
  }

  .contact-info {
    width: 300px;
  }
}

@media (max-width: 450px) {
  .about,
  .contact {
    width: 240px;
    padding: 20px;
    height: auto;
  }

  .about p {
    max-width: 200px;
    font-size: 16px;
  }

  .contact a {
    text-align: center;
  }

  p, a{
      font-size: 16px;
  }

  .contact-info {
    width: 250px;
  }

  .project-card {
    width: 275px;
  }

  .project-card img {
    width: 250px;
  }
}
